{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container review-container mt-3">
    <div class="row">
        <div class="col-12">
            <hr>
            <h2 class="font-weight-bold">Reviews</h2>
            <h4 class="text-muted">Add a Review</h4>
            <hr>
        </div>
    </div>
    
    <div class="row review-row">
        <div class="col-12">
            <h2>Add your review here</h2>
            <p class="text-mute pb-3">Review for <span class="text-primary font-weight-bold">{{ item.name }}</span></p>
            <form method="POST" action="{% url 'add_review' item.id %}" class="form review-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right">
                    <a href="{% url 'item_info' item.id %}" class="btn btn-warning">Cancel</a>
                    <button class="btn btn-success" type="submit">Add Review</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}