{% extends "base.html" %}
{% load static %}

{% block header_main %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="car">
    <div class="container-fluid main-container">
        <div class="row carousel-row">
            <div class="col pr-0 pl-0 pt-0">
                <div class="container-fluid container-carousel">
                    <!---------------------------Bootstrap Carousel used for image slider----------------------------->
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="300000">
                        <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                        <div class="carousel-item carousel-item1 active">
                            <div class="banner-text mb-4">
                                <h1 class="text-center text-uppercase display-3 sign">Opening Soon !</h1>
                                <p class="banner-sub-text text-center h3 text-white open-text">Save the date <strong> : Friday, 4 Feb 2022</strong></p>
                            </div>
                        </div>
                        <div class="carousel-item carousel-item2">
                            <div class="banner-text">
                                <h1 class="text-center text-uppercase display-3 banner-text-main"><span><i class="fas fa-truck h3 truck1 "></i></span> Free Delivery <span><i class="fas fa-truck h3"></i></span></h1>
                                <p class="banner-sub-text text-center">*within 3 miles radius only, £2 extra per additional mile</p>
                            </div>
                        </div>
                        <div class="carousel-item carousel-item3">
                            <div class="banner-text">
                                <h1 class="text-center font-weight-bold">Grand Opening Discount >>>> 20% discount on all orders</h1>
                                <p class="text-center mt-3"><a href="{% url 'all_menu' %}" class="btn btn-primary btn-sm"><strong class="h4"> Pre-order now !</strong></a></p>
                            </div>
                        </div>
                        <div class="carousel-item carousel-item4">
                            <div class="banner-text">
                                <h1 class="text-center display-3">Menu on mind?</h1>
                                <p class="banner-sub-text text-center">Share your idea and won £30 worth free meal</p>
                                <p class="banner-sub-text text-center text-muted">*T&C apply, <a href="#">Click here to find more</a></p>
                            </div>
                        </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}