{% extends "base.html" %}
{% load static %}

{% block header_main %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row h-100">
            <div class="col-12 my-auto main-text">
                <div class="text-wrapper">
                    <h1 class="display-6 text-left home-text">
                        Fresh Food to your doorstep !
                    </h1>
                </div>
                <div class="text-left ml-4 mt-4">
                    <h4>
                        <a href="{% url 'all_menu' %}" class="buy-now-button btn btn-primary text-uppercase py-2"> Order Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}