{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block header_main %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container basket-container">
    <div class="row text-center">
        <div class="col">
            <h2 class="basket-title mt-5">Shopping Basket</h2>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            {% if basket_items %}
                <div class="table">
                    <table class="table">
                        <thead class="display-6">
                            <tr>
                                <th scope="col">Selected Item</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% for ib in basket_items %}
                            <tr>
                                <td class="item-image">
                                    <img class="img-fluid" src="{{ ib.item.image.url }}" alt="{{ ib.item.name }}">
                                </td>
                                <td class="item-name">
                                    <p class="item-name"><strong>{{ ib.item.name }}<strong</p>
                                </td>
                                <td class="item-price">
                                    <p class="item-price">£{{ ib.item.price }}</p>
                                </td>
                    
                                <td class="w-25">
                                    <form class="form update-form" method="POST" action="{% url 'update_basket' ib.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            <div class="input-group">
                                                <!---- button to decrease the qty(-)-->
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-dark btn-sm font-weight-bold decrease-qty"
                                                        data-item_id="{{ ib.item_id }}" id="decrease-qty{{ ib.item_id }}">-</button>
                                                    </button>
                                                </div>
                                                <!-------qty input field--->
                                                <input class="form-control-sm qty_input border-dark" type="number"
                                                    name="quantity" value="{{ ib.quantity }}" min="1" max="50" data-item_id="{{ ib.item_id }}"
                                                    id="id_qty_{{ ib.item_id }}">
                                                  <!---- button to increase the qty(+)-->
                                                <div class="input-group-append">
                                                    <button class="btn btn-dark btn-sm font-weight-bold increase-qty"
                                                        data-item_id="{{ ib.item.id }}" id="increase-qty_{{ ib.item.id }}">+</button>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-qty"><small>Update</small></a>
                                    <a class="remove-qty text-danger float-right" id="remove_{{ ib.item_id }}"><small>Remove</small></a>
                                </td>
                                </td>
                                <td class="item-qty">
                                    <p class="item-qty">{{ ib.quantity }}</p>
                                </td>
                                <td class="total-price">
                                    <p class="total-price">£{{ ib.item.price | calculate_total:ib.quantity }}</p>
                                </td>
                                
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="text-right">
                                <h5>Basket Total : £{{ total|floatformat:2 }}<strong</h5>
                                <h6>Delivery : £{{ delivery_cost|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Sub Total : £{{ sum_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_eligibility > 0 %}
                                <p class="mb-1 text-danger">
                                    Get free delivery by spending just
                                    <strong>£{{ free_delivery_eligibility }}</strong> more!
                                </p>
                                {% endif %}
                            </td>
                        </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'menu' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-arrow-circle-left"></i>
                                        </span>
                                        <span class="text-uppercase">Add More Item</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                    </table>
                </div>
            {% else %}
                <p class="basket-heading mt-3"><strong>Your basket is currently empty.</strong></p>
                <a href="{% url 'menu' %}" class="btn btn-light btn-lg border border-secondary mt-5">
                    <span class="icon">
                        <i class="fas fa-arrow-circle-left"></i>
                    </span>
                    <span class="basket-heading basket-heading-sub text-uppercase">Back to our menu</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
    <script>
        let csrfToken = "{{ csrf_token }}"
    </script>
    <script>
        // update and remove option in the basket after quantity modification
            // update option
            $('.update-qty').click(function(e) {
                var form = $(this).prev('.update-form');
                form.submit();
            })
            // remove option
            $('.remove-qty').click(function(e) {
                var csrfToken = "{{ csrf_token }}";
                var itemId = $(this).attr('id').split('remove_')[1];
                var url = `/basket/remove/${itemId}/`;
                var data = {'csrfmiddlewaretoken': csrfToken};

                $.post(url, data)
                .done(function() {
                    location.reload();
                });
        })
    </script>
{% endblock %}