<a href="{% url 'all_menu' %}" class="btn btn-black rounded-0 btn-lg">
    <span class="text-uppercase btn btn-outline-dark">
        <span class="icon"><i class="fas fa-arrow-circle-left"></i>Add More Item</span>
    </span>
</a>

{% if request.user.is_superuser %}
<a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
    <span class="text-uppercase btn btn-outline-dark">Secure Checkout<span class="icon">
        <i class="fas fa-lock"></i>
    </span></span>
</a>
{% else %}
<button class="btn btn-primary btn-lg">Call now to complete your order</button>
{% endif %}