<form class="form update-form" method="POST" action="{% url 'update_basket' ib.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-qty-group">
            <!---- button to decrease the qty(-)-->
            <div class="input-group-prepend">
                <button class="btn btn-dark btn-sm font-weight-bold decrease-qty"
                    data-item_id="{{ ib.item_id }}" id="decrease-qty{{ ib.item_id }}">-</button>
                </button>
            </div>
            <!-------qty input field--->
            <input class="form-control-sm qty-form qty_input border-dark" type="number"
                name="quantity" value="{{ ib.quantity }}" min="1" max="50" data-item_id="{{ ib.item_id }}"
                id="id_qty_{{ ib.item_id }}">
            <!---- button to increase the qty(+)-->
            <div class="input-group-append">
                <button class="btn btn-dark btn-sm font-weight-bold increase-qty"
                    data-item_id="{{ ib.item.id }}" id="increase-qty_{{ ib.item.id }}">+</button>
                </button>
            </div>
        </div>
    </div>
</form>
<a class="update-qty"><small>Update </small>|</a>
<a class="remove-qty text-danger" id="remove_{{ ib.item_id }}"><small>Remove</small></a>