
 *{
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}


html {
    height: 100%;
    top: 0;
    bottom: 0;
}

body {
    background: url('/media/hero-img.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Dosis', sans-serif;
    position: relative;
}

:root{
    --white: #FFFFFF;
}

/*---------specials--*/
.header-container {
    padding-top: 150px;
}

/*----------block-divider--*/
.block-divider{
 width: 150px;
 margin-top: -40px;
 border: 0.25px solid #c3b0b0;
}

.block-divider-checkout{
margin-top: -20px;
}
/*---blinking effect on delivery notice--*/
/*--code taken from stackOverflow and modified--(start)--*/
.blinker{
    color: var(--white);
}

.blinker{
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    10% {
      opacity: 0;
    }
  }
/*--(end)--*/

/*--------buttons-----*/
.btn-signout{
    width: 160px;
    height: 30px;
    font-size: 1rem;
    line-height: 1.5;
    padding: 2px;
    border-radius: 0;  

}

/*--------form----*/
.textarea.form-control {
    resize: none;
}

input .form-control{
    width: min-content;
} 

/*--navbar --*/
.bg-white{
    background: linear-gradient(to right, #bf15158c, #0c5f1f);
    background-color: #287271 !important;
}
    

header {
    background: linear-gradient(to right, #bf15158c, #0c5f1f);
    background-color: #287271 !important;
}

.side-nav{
    padding-left: 90px;
}

.search-field{
    background: top;
}

.search-btn{
    background: white;
}

.search-item{
    margin-top: -30px;
}

.text-black{
    color: #000;
    font-weight: bold;
}


/*--navbar icon (mobile device only)--*/
.navbar-light .navbar-toggler-icon{
    background-color: #724141;
}

/*--------------home page-----*/

.main-text{
    position: fixed;
    top: 50%;
    left: 1%;
}


.text-wrapper{
   width: fit-content;
  
}

.home-text{
    text-align: center;
    color: var(--white);
}
/*----------all menu page -----*/

/*code taken from walkthrough project of CI and modified as per project requirements(start) */
.overlay{
    background: rgb(243, 240, 236);
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
}

.message-container{
    position: fixed;
    top: 14%;
    right: 20px;
    z-index: 9999999999;
}

/*code taken from walkthrough project of CI (end)- */

#scroll-icon{
    position: fixed;
    width: 35px;
    bottom: 35px;
    right: 0;
    color: #000;
    font-size: 1.75em;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    display: none;
    z-index: 999999;
}


/*--menu & blog page (for card and image)--*/
.menu-card{
    max-height: 450px;
}

.item-image{
    height: 320px;
}

.item-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item-heading{
    text-decoration:wavy;
}



/*-----item-info page ---*/
.item-container-sub{
    padding-bottom: 100px;
}


.item-image-info{
    height: 50vh;
}

.item-image-info img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*------review section---*/
.existing-review-container{
    padding-bottom: 80px;
}

.review-row{
    padding-top: 150px;
}

.review-col{
    border: 1px solid #ddc2c296;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.review-heading{
    margin-top: 250px;
}

/*------update and remove quantity option on basket--*/
.update-qty,
.remove-qty{
    cursor: pointer;
}

/*----------toasts----*/
.success-toast{
    overflow-y: scroll;
    background: #fafafa;
    border: 1px solid #000;
    
}

.col-img-success{
    height: 65px;
}

.col-img-success img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*---css to create scrolling option to the basket and 
item details on order summary page ---*/
.item-summary-container{
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

/*-----basket summary page ---*/
.basket-container{
    padding-bottom: 120px;
}

/*-----checkout page---*/
.checkout-container{
    margin-top: 50px;
}

/*-----login form---*/
.login-heading{
    padding-top: 350px;
}

.signup-heading{
    padding-top: 250px;
}

/*-----signup form---*/
#signup_form{
    margin-bottom: 150px;
}

/*----admin page---*/
.admin-container{
    padding-bottom: 100px;
}

/*-----blog page---*/
.post-container{
    padding-top: 240px;
    padding-bottom: 120px;
}

.blog-container-main{
    padding-bottom: 80px;
}
/*-----footer---*/
.footer-container{
    background: linear-gradient(to right, #bf15158c, #0c5f1f);
    background-color: #402c2c!important;
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 99999999;
    margin-top: 15px;
}


/*------media----------*/

@media screen and (min-width:992px){
    .flash-notice{
        padding-top: 5px;
        font-style: italic;
    }

    .message-container{
        top: 20%;
    }

    .review-row{
        padding-top: 250px;
    }
}


@media screen and (max-width:992px){
    body{
        background-position-x: unset;
    }

    .main-text{
        left: 6%;
    }

    .navbar{
        margin-top:-40px;
    }

    .navbar-toggler {
        position: fixed;
        top: 1%;
        left: 1%;
    }

    .header-container{
        padding-top: 90px;
    }

    .signup-heading{
        padding-top: 200px;
    }

    .btn-add{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .post-container {
        padding-top: 130px;
    }

}

@media screen and (max-width:768px){
    .text-nav{
        font-size: medium;
    }
    
    .basket-container{
        padding-bottom: 50px;
    }
}

@media screen and (max-width:576px){
    .item-container-sub{
        padding-bottom: 30px;
    }

    .navbar{
        margin-top:-25px;
    }

    .main-text{
        position: fixed;
        top: 40%;
    }

    .header-container{
        padding-top: 50px;
    }

    #scroll-icon {
        padding-bottom: 80px;
    }

    .signup-heading{
        padding-top: 100px;
    }

    .login-heading{
        padding-top: 180px;
    }

    .login-form{
        padding-bottom: 100px;
    }

    .post-container {
        padding-top: 100px;
    }

    .existing-review-container{
        padding-bottom: 120px;
    }
}

@media screen and (max-width:315px){
    .item-container-sub,
    #scroll-icon {
        padding-bottom: 80px;
    }

    .blog-container-main{
        padding-bottom: 110px;
    }

    .basket-container{
        padding-bottom: 90px;
    }
}

@media screen and (max-width:290px){
    .header-container{
        padding-top: 180px;
    }

    .login-heading{
        padding-top: 180px;
    }

    .login-form{
        padding-bottom: 150px;
    }

    .signup-heading{
        padding-top: 150px;
    }

    .btn-add{
        padding-bottom: 30px;
    }

    .post-container {
        padding-top: 210px;
    }
}

@media screen and (max-width: 198px){
    .signup-heading {
        padding-top: 220px;
    }

    .login-heading{
        padding-top: 220px;
    }

    .btn-add{
        padding-bottom: 30px;
    }

    .review-row{
        padding-top: 250px;
    }

    .post-container {
        padding-top: 210px;
    }
}
