
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
}


html{
    top: 0;
    bottom: 0;
    height: 100%;
    
}

body { 
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    min-height: 100vh;
    color: #6c0707;;
}

:root{
    --white: #FFFFFF;
    --yellow: #f8d90f;
    --green: #d3dd18;
    --main: #6c0707;
    /* --main-mix: linear-gradient(to right, #760b14, #b35860);
    --main: #760b14; */
}

/*---------header--*/
.header-container {
    padding-top: 10.5rem;
}

header {
    background:  gold;
    height: auto;
}

/*---------specials----------*/
.text-main{
    color: var(--main);
}

.content{
    margin: 0 auto;
    min-height: calc(100vh - 150px - 55px);
}

.text-dark{
    font-size: 1.25rem;
}

/*--buttons--*/
.btn-signout{
    width: 160px;
    height: 30px;
    font-size: 1rem;
    line-height: 1.5;
    padding: 2px;
    border-radius: 0;
}

.search-btn{
    background: white;
}

.btn-order{
    position: absolute;
    top: 160%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.btn-order-more:hover{
    color: #FFFFFF;
}

.btn-banner{
    margin-top: -1.25rem;
}

.btn-add{
    margin-bottom: 3rem;
}

.cash-pay-option,
.card-pay-option{
    background-color: gold;
}
/*--------form----*/
.textarea.form-control {
    resize: none;
}

input .form-control{
    width: min-content;
}

/*--navbar --*/
img.main-logo{
    height: 5rem;
    padding: 0px;
}

.navbar-nav{
    padding-left: 1rem;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

.nav-item{
    font-size: 1.25rem;
}

.brand-logo{
    height: 120px;
    width: fit-content;
    margin-bottom: -30px;
    margin-top: -30px;
    padding-top: 30px;
}

.bg-wite{
    background: gold;
}

.side-nav{
    padding-left: 90px;
}

#menlink{
    border: 1px solid var(--main);
    display: inline-block;
    padding: 0 5px;
    border-radius: 20px;
}
.item-list,
.dropdown-account{
    color: var(--main);
    font-weight: bold;
} 

.item-list:hover,
.dropdown-account:hover{
background: gold;
color: var(--main);
}

.search-field{
    background: top;
}


.search-item{
    margin-top: -30px;
}

/*--------------home page-----*/

.container-carousel{
    padding: 0;
}
.carousel-item{
    height: 100vh;
    width: 100%;
    padding: 0;
}

.carousel-item1{
    background: url('/media/ban5.jpg') no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.carousel-item2{
    background: url('/media/ban2.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.carousel-item3{
    background: url('/media/ban3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.carousel-item4{
    background: url('/media/ban4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


.carousel-control-next,
.carousel-control-prev{
width: 30%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
display: none;
}

.carousel-indicators li{
    background-color: var(--main);
}
.carousel-indicators{
    top: 85%;
}

.small-text{
    font-size: 0.75rem;
    font-style: italic;
    margin-top: -0.5rem;
}

/*-----1st slide of carousel on homepage---*/
.banner-text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* transform-style: preserve-3d; */
}
.sign{
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 0 0 25px var(--dark), 0 0 25px var(--gray-dark), 0 0 25px #fff, 0 0 20px #dde2db, 0 0 25px var(--light), 0 0 25px var(--light), 0 0 50px var(--light), 0 0 50px #e0e5df;
    animation: blinkingText .5s linear infinite;
}

.font-style{
    font-style: italic;
}


@keyframes blinkingText {
    50% {
      opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
  }

.open-text{
    font-weight: lighter;
    text-shadow: 0 0 25px var(--dark), 0 0 25px var(--gray-dark), 0 0 25px #fff, 0 0 20px #dde2db, 0 0 25px var(--light), 0 0 25px var(--light), 0 0 50px var(--light), 0 0 50px #e0e5df;
}

/*---2nd slide of carousel on the homepage--*/

.truck1{
    transform: scaleX(-1);
}

/*----about us page--*/
.text-about-heading{
    font-size: 1.75rem;
}

.text-about-sub-heading{
    font-size:1.2rem;
}

.image-about{
    height: 3rem;
}
/*----------all menu page -----*/

/*code taken from walkthrough project of CI and modified as per project requirements(start) */
.overlay{
    background: honeydew;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
}

.message-container{
    position: fixed;
    top: 14%;
    right: 20px;
    z-index: 9999999999;
}

/*code taken from walkthrough project of CI (end)- */

#scroll-icon{
    position: fixed;
    width: 35px;
    bottom: 55px;
    right: 0;
    color: #000;
    font-size: 1.75em;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    display: none;
    z-index: 999999;
}

/*--menu & blog page (for card and image)--*/
.menu-card{
    max-height: 450px;
}

.item-image{
    height: 300px;
}

.item-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item-heading{
    text-decoration:wavy;
}

.item-details{
    position: relative;
}

.vegan-icon{
    position: absolute;
    height: 2rem;
    right: 0;
    top: 0;
}

/*-----item-info page ---*/
.item-container-sub{
    padding-bottom: 2rem;
}

.vegan-icon-info{
    height: 2rem;
}

.vegan-icon-info-sub{
    width: 2rem;
}

.item-image-info{
    height: 50vh;
}

.img-sub{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*------review section---*/
/* .existing-review-container{
    padding-bottom: 80px;
} */

.review-row{
    padding-top: 150px;
}

.review-col{
    border: 1px solid #ddc2c296;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.review-heading{
    margin-top: 250px;
}

/*------update and remove quantity option on basket--*/
.update-qty,
.remove-qty{
    cursor: pointer;
}

/*----------toasts----*/
.success-toast{
    overflow-y: scroll;
    background: #fafafa;
    border: 1px solid #000;

}

/* .col-img-success{
    height: 65px;
} */

.col-img-success img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*---css to create scrolling option to the basket and
item details on order summary page ---*/
.item-summary-container{
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

/*-----basket summary page ---*/
.basket-container{
    padding-bottom: 2.5rem;
}

/*-----checkout page---*/
.checkout-container{
    padding-top: 50px;
    padding-bottom: 2.5rem;
}

/*---contact us page-----*/
.col-contact-form{
    background: seagreen;
}

.col-contact-details{
    background: salmon;
}

.col-contact-details::before{
    content: "";
    position: absolute;
    background-color: salmon;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    top: 38px;
    left: -2%;
}

.form-center {
	display:flex;
	justify-content: center;
}

.contact-container{
    margin-bottom: 20%;
}

.social-icon-contact{
    color: var(--main);
    font-size: 1.75rem;
}

.insta-promo{
    font-style: italic;
}

/*-----login form---*/
.allauth-container{
    padding-top: 1rem;
 } 

/* .allauth-form-inner-content{
    padding-top: 12rem;
} */

.wrapper{
    min-height: 58vh;
}

/*-----signup form---*/
/* #signup_form{
    margin-bottom: 150px;
} */

/*----admin page---*/
/* .admin-container{
    padding-bottom: 100px;
} */

/*-----blog page---*/
 /*.blog-container-main{
    margin-bottom: 20rem;
}  */

.post-row{
    margin-bottom: 20px;
}

/*-----footer---*/

footer{
    height: auto;
    /* margin-top: 88px; */
   
}
.footer-container{
    background: gold;
    bottom: 0;
    z-index: 99999999;
    clear: both;
    position: relative;
}

.footer-text{
   /* font-weight: bold; */
   color: var(--main);
}

.footer-text a{
    color: var(--main);
}

.footer-text a:hover{
    color: blue;
}

.social-icon{
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--main);
}


/*------media----------*/

@media screen and (min-width:992px){
    #menu-link{
        border: 1px solid var(--main);
        display: inline-block;
        padding: 0;
        border-radius: 20px;
        margin-left: -13px;
        margin-top: 5px;
    }

    /* img.main-logo{
        height: 6.25rem;
        padding: 0px;
        margin-left: -2.5rem;
    } */

    .content{
        margin: 0 auto;
        min-height: calc(100vh - 150px - 54.38px);
    }
    
    .flash-notice{
        padding-top: 5px;
        font-style: italic;
    }

    .message-container{
        top: 20%;
    }

    .item-heading{
        padding-top: 1.5rem;
    }

    .contact-row{
        margin-bottom: 3rem;
    }

    .contact-heading{
        padding-top: 1.75rem;
    }

    .review-row{
        padding-top: 250px;
    }
}

@media screen and (min-width:768px){
    /* .allauth-form-inner-content {
        padding-bottom: 7.5rem;
    }
    .allauth-form-email-verification{
        margin-top: 12.5rem;
        padding-bottom: 13.25rem;
    } */
}

@media screen and (min-width:576px){    
    .carousel-indicators li{
        background: var(--main);
    }
}

@media screen and (max-width:992px){
    img.main-logo{
        margin-top: -0.5rem;
        padding-left: 1rem;
    }

    .content{
        margin: 0 auto;
        min-height: calc(100vh - 68px - 54.38px);
        /* margin-top: -20px; */
    }

    .main-text{
        left: 6%;
    }

    .navbar{
        padding: 0;
    }

    .navbar-toggler,
    .fa-bars {
        position: fixed;
        top: 1%;
        left: 1%;
    }

    .header-container {
        padding-top: 72px;
    }

    .btn-add{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .post-container {
        padding-top: 130px;
    }

}

@media screen and (max-width:767px){
    .content{
        min-height: calc(100vh - 68px - 180px);
    }

    .text-nav{
        font-size: medium;
    }
    .col-contact-details::after {
        content: "";
        position: absolute;
        background-color: salmon;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
        top: -3%;
        left: 85%;
    }

    .col-contact-details::before{
        display: none;
    }

    #scroll-icon {
        position: fixed;
        bottom: 175px;
    }
}

@media screen and (max-width:576px){
    .navbar{
        margin-top:-1.25rem;
    }

    .item-list,
    .dropdown-account{
        font-size: 0.75rem;
    }

    .nav-item {
        font-size: 1rem;
    }

    img.main-logo{
        /* height: 4rem; */
        /* margin-top: 0.15rem; */
        margin-left: 2rem;
    }

    .card-item{
        padding-right: 0;
        padding-left: 0;
    }

    .carousel-indicators{
        top: 85%;
    }

    .carousel-item{
        height: 90vh;
    }

    .sign{
        font-size: 2.5rem;
        padding: 0 4px;
    }

    .open-text{
        font-size: 1.25rem
    }

    .main-text{
        position: fixed;
        top: 40%;
    }

    .banner-text-main{
        font-size: 2.5rem;
    }

    .banner-sub-text-delivery{
        font-size: .75rem;
    }

    .discount-text{
        font-size: 1.5rem;
    }

    .menu-text{
        font-size: 2.5rem;
    }

    /* #scroll-icon {
        padding-bottom: 172px;
    } */

    .post-container {
        padding-top: 100px;
    }

    /* .existing-review-container{
        padding-bottom: 120px;
    } */

    /* .btn-contact{
        margin-bottom: 30%;
    } */

    /* .allauth-form-inner-content {
        padding-top: 4rem;
        padding-bottom: 2rem;
    } */

    .contact-row{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .footer-text,
    .social-icon{
        font-size: 1rem;
    }
}

@media screen and (max-width:315px){
    img.main-logo {
        padding-left: 2rem;
    }
    /* #scroll-icon {
        padding-bottom: 90px;
    } */

    /* .blog-container-main{
        padding-bottom: 110px;
    } */

    .basket-container{
        padding-bottom: 90px;
    }

    /* .allauth-container{
        padding-top: 2rem;
    }  */
}

@media screen and (max-width:290px){
    .btn-add{
        padding-bottom: 30px;
    }

    .post-container {
        padding-top: 210px;
    }

    .checkout-container{
        padding-bottom: 160px;
    }
}

@media screen and (max-width: 198px){
    .btn-add{
        padding-bottom: 30px;
    }

    .review-row{
        padding-top: 250px;
    }

    .post-container {
        padding-top: 210px;
    }

    /* .allauth-container{
        padding-top: 9rem;
    } */
}

/*--landscape view--*/

@media (max-width: 844px) and (orientation : landscape){
    .navbar-nav {
      flex-direction: row;
      margin-top: 1rem;
    }

    #menu-link{
        border: none;
    }
}
  