
 *{
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}


html {
    height: 100%;
    top: 0;
    bottom: 0;
}

body {
    
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    position: relative;
    overflow-x: hidden;
    height: 100%;
    
}

:root{
    --white: #FFFFFF;
    --yellow: #f8d90f;
    --green: #d3dd18;
    --main-mix: linear-gradient(to right, #760b14, #b35860);
    --main: #760b14;
}

/*---------specials--*/
.header-container {
    padding-top: 120px;
}

/*----------block-divider--*/
.block-divider{
 width: 150px;
 margin-top: -40px;
 border: 0.25px solid #c3b0b0;
}

.block-divider-checkout{
margin-top: -20px;
}

/*--------buttons-----*/
.btn-signout{
    width: 160px;
    height: 30px;
    font-size: 1rem;
    line-height: 1.5;
    padding: 2px;
    border-radius: 0;

}

/*--------form----*/
.textarea.form-control {
    resize: none;
}

input .form-control{
    width: min-content;
}

/*--navbar --*/
img.main-logo{
    height: 100%;
    padding: 5px;
}

.brand-logo{
    height: 100px;
    width: fit-content;
    margin-bottom: -30px;
    margin-top: -30px;
    padding-top: 30px;
}

.bg-white{
    background: var(--main-mix);
    
}
header {
    background:  var(--main-mix);
}

.side-nav{
    padding-left: 90px;
}

.item-list:hover{
    background: var(--main-mix);
    color: #FFFFFF;
    font-weight: bold;
}


#menu-link{
    border: 1px solid var(--light);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    margin-left: -13px;
}

.search-field{
    background: top;
}

.search-btn{
    background: white;
}

.search-item{
    margin-top: -30px;
}

.text-black{
    color: #000;
    font-weight: bold;
}

/*--navbar icon (mobile device only)--*/
.navbar-light .navbar-toggler-icon{
    background-color: #724141;
}

/*--------------home page-----*/

.container-carousel{
    padding: 0;
}
.carousel-item{
    height: 100vh;
    width: 100%;
    padding: 0;
}
.carousel-item1{
    background: url('/media/ban1.jpg') no-repeat;
    background-size: cover;
    background-position: top;
}
.carousel-item2{
    background: url('/media/ban2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-item3{
    background: url('/media/ban3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-item4{
    background: url('/media/ban4.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}


.carousel-control-next,
.carousel-control-prev{
width: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
display: none;
}

.carousel-indicators li{
    background-color: var(--main);
}
.carousel-indicators{
    top: 85%;
}

/*-----1st slide of carousel on homepage---*/
.banner-text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* transform-style: preserve-3d; */
}
.sign{
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 0 0 25px var(--dark), 0 0 25px var(--gray-dark), 0 0 25px #fff, 0 0 20px #dde2db, 0 0 25px var(--light), 0 0 25px var(--light), 0 0 50px var(--light), 0 0 50px #e0e5df;
    animation: blinkingText .5s linear infinite;
}

/*-----1st slide of carousel on homepage---*/


@keyframes blinkingText {
    50% {
      opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
  }

.open-text{
    font-weight: lighter;
    text-shadow: 0 0 25px var(--dark), 0 0 25px var(--gray-dark), 0 0 25px #fff, 0 0 20px #dde2db, 0 0 25px var(--light), 0 0 25px var(--light), 0 0 50px var(--light), 0 0 50px #e0e5df;
}

/*---2nd slide of carousel on the homepage--*/

.truck1{
    transform: scaleX(-1);
}

/*---3rd slide of carousel on the homepage--*/
.btn-order{
    position: absolute;
    top: 160%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/*----------all menu page -----*/

/*code taken from walkthrough project of CI and modified as per project requirements(start) */
.overlay{
    background: rgb(243, 240, 236);
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
}

.message-container{
    position: fixed;
    top: 14%;
    right: 20px;
    z-index: 9999999999;
}

/*code taken from walkthrough project of CI (end)- */

#scroll-icon{
    position: fixed;
    width: 35px;
    bottom: 55px;
    right: 0;
    color: #000;
    font-size: 1.75em;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    display: none;
    z-index: 999999;
}


/*--menu & blog page (for card and image)--*/
.menu-card{
    max-height: 450px;
}

.item-image{
    height: 320px;
}

.item-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item-heading{
    text-decoration:wavy;
}

/*-----item-info page ---*/
.item-container-sub{
    padding-bottom: 100px;
}

.item-image-info{
    height: 50vh;
}

.item-image-info img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*------review section---*/
.existing-review-container{
    padding-bottom: 80px;
}

.review-row{
    padding-top: 150px;
}

.review-col{
    border: 1px solid #ddc2c296;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.review-heading{
    margin-top: 250px;
}

/*------update and remove quantity option on basket--*/
.update-qty,
.remove-qty{
    cursor: pointer;
}

/*----------toasts----*/
.success-toast{
    overflow-y: scroll;
    background: #fafafa;
    border: 1px solid #000;

}

/* .col-img-success{
    height: 65px;
} */

.col-img-success img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*---css to create scrolling option to the basket and
item details on order summary page ---*/
.item-summary-container{
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

/*-----basket summary page ---*/
.basket-container{
    padding-bottom: 120px;
}

/*-----checkout page---*/
.checkout-container{
    padding-top: 50px;
    padding-bottom: 100px;
}

/*---contact us page-----*/
.form-center {
	display:flex;
	justify-content: center;
}

.contact-container{
    margin-bottom: 300%;
}

/*-----login form---*/
.login-heading{
    padding-top: 350px;
}

.signup-heading{
    padding-top: 250px;
}

/*-----signup form---*/
#signup_form{
    margin-bottom: 150px;
}

/*----admin page---*/
.admin-container{
    padding-bottom: 100px;
}

/*-----blog page---*/
.post-container{
    padding-top: 240px;
    padding-bottom: 120px;
}

.blog-container-main{
    padding-bottom: 80px;
}
/*-----footer---*/
.footer-container{
    background: var(--main-mix);
    bottom: 0;
    z-index: 99999999;
}

.social-icon{
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}


/*------media----------*/
@media (min-width: 1024px) and (max-width: 1024px){
    
}

@media screen and (min-width:992px){
    .flash-notice{
        padding-top: 5px;
        font-style: italic;
    }

    .message-container{
        top: 20%;
    }

    .review-row{
        padding-top: 250px;
    }
}

@media screen and (min-width:576px){
    .carousel-indicators li{
        background: var(--main);
    }
}

@media screen and (max-width:992px){
    /* body{
        background-position-x: unset;
    } */

    .main-text{
        left: 6%;
    }

    .navbar{
        margin-top:-40px;
    }

    .navbar-toggler {
        position: fixed;
        top: 1%;
        left: 1%;
    }

    .nav-item-home{
        padding-top: 40px;
    }

    .header-container{
        padding-top: 65px;
    }


    .signup-heading{
        padding-top: 200px;
    }

    .btn-add{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .post-container {
        padding-top: 130px;
    }

}

@media screen and (max-width:768px){
    .text-nav{
        font-size: medium;
    }

    /* .carousel-indicators{
        margin-bottom: 10%;
    } */
}
@media screen and (max-width:576px){
    .carousel-indicators{
        top: 85%;
    }

    .navbar{
        margin-top:-25px;
    }

    .carousel-item{
        height: 90vh;
    }

    .sign{
        font-size: 3.25rem;
        padding: 0 4px;
    }

    .open-text{
        font-size: 1.25rem
    }

    .main-text{
        position: fixed;
        top: 40%;
    }

    .banner-text-main{
        font-size: 2.5rem;
    }

    .banner-sub-text-delivery{
        font-size: .75rem;
    }

    /* .header-container{
        padding-top: 50px;
    } */

    #scroll-icon {
        padding-bottom: 80px;
    }

    .signup-heading{
        padding-top: 100px;
    }

    .login-heading{
        padding-top: 180px;
    }

    .login-form{
        padding-bottom: 100px;
    }

    .post-container {
        padding-top: 100px;
    }

    .existing-review-container{
        padding-bottom: 120px;
    }
}

@media screen and (max-width:315px){
    /* .carousel-indicators{
       margin-bottom: 40%;
    } */

    .item-container-sub,
    #scroll-icon {
        padding-bottom: 90px;
    }

    .blog-container-main{
        padding-bottom: 110px;
    }

    .basket-container{
        padding-bottom: 90px;
    }
}

@media screen and (max-width:290px){
    /* .header-container{
        padding-top: 180px;
    } */

    .login-heading{
        padding-top: 180px;
    }

    .login-form{
        padding-bottom: 150px;
    }

    .signup-heading{
        padding-top: 150px;
    }

    .btn-add{
        padding-bottom: 30px;
    }

    .post-container {
        padding-top: 210px;
    }

    .checkout-container{
        padding-bottom: 160px;
    }
}

@media screen and (max-width: 198px){
    .signup-heading {
        padding-top: 220px;
    }

    .login-heading{
        padding-top: 220px;
    }

    .btn-add{
        padding-bottom: 30px;
    }

    .review-row{
        padding-top: 250px;
    }

    .post-container {
        padding-top: 210px;
    }
}
