    <div class="container-fluid footer-container">
        <!--footer -row-->
        <div class="row">
            <!--download menu-->
            <div class="col-md-3">
                <h6 class="footer-text text-center pt-2">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <a href="media/docs/menu.pdf" target="_blank">Download our Menu</a>
                </h6>
            </div>
            <!--mail and phone icon-->
            <div class="col-md-2">
                <h6 class="footer-text text-center pt-2">
                    <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
                        <i class="fas fa-mail-bulk social-icon"></i>
                    </a>
                    <span>
                    <a href="tel:07470381691">
                        <i class="fas fa-mobile-alt social-icon pl-3"></i>
                    </a>
                    </span>
                </h6>
            </div>
            <!--term & condition-->
            <div class="col-md-2">
                <h6 class="footer-text text-center pt-2">
                    <a href="media/docs/t&c.pdf" target="_blank">Terms and Conditions</a>
                </h6>
            </div>
            <!--social icon-->
            <div class="col-md-2">
                <h6 class="footer-text text-center pt-2">
                    <a href="https://wa.me/whatsappphonenumber/?text=Hi Neupane's Kitchen" target="_blank">
                        <i class="fab fa-whatsapp-square social-icon"></i>
                    </a>
                    <span>
                    <a href="https://instagram.com/neupanes.kitchen?utm_medium=copy_link">
                        <i class="fab fa-instagram-square social-icon pl-3"></i>
                    </a>
                    </span>
                </h6>
            </div>
            <!--copyright text-->
            <div class="col-md-3">
                <h6 class="footer-text text-center pt-2">
                    All Rights Reserved &copy; Neupane's Kitchen
                </h6>
            </div>
        </div>
    </div>