<footer>
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-sm-6 text-white text-center pt-2">
                <h6 class="footer-text">
                    Contact : npkitchen@gmail.com/07411786691
                </h6>
            </div>
            <div class="col-sm-6  text-white text-center pt-2">
                <h6 class="footer-text">
                    &copy; Shiva Neupane, 2021, All right reserved
                </h6>
            </div>
        </div>
    </div>
</footer>