<footer>
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-sm-6 col-md-4 text-white text-center pt-2">
                <h6 class="footer-text">
                   info.neupanekitchen@gmail.com<br>
                    07470381691
                </h6>
            </div>
            <div class="col-sm-6 col-md-4 text-white text-center pt-2">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="https://www.instagram.com" target="_blank">
                                <i class="fab fa-instagram-square social-icon"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a href="https://www.whatsapp.com/" target="_blank">
                                <i class="fab fa-whatsapp-square social-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 text-white text-center pt-2">
                <h6 class="footer-text">
                    All Rights Reserved &copy; Neupane's Kitchen
                </h6>
            </div>
        </div>
    </div>
</footer>