<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'all_menu' %}" id="menu-link" aria-haspopup="true" aria-expanded="false">
                All Menus
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="non-veg-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non-veg Meal
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-veg-link">
                <a href="{% url 'all_menu' %}?category=chicken" class="dropdown-item">Chicken</a>
                <a href="{% url 'all_menu' %}?category=lamb" class="dropdown-item">Lamb</a>
                <a href="{% url 'all_menu' %}?category=fish" class="dropdown-item">Fish</a>
                <a href="{% url 'all_menu' %}?category=chicken,lamb,fish" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="veg-meal-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Veg-Meal
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="veg-meal-link">
                <a href="{% url 'all_menu' %}?category=soup" class="dropdown-item">Soup</a>
                <a href="{% url 'all_menu' %}?category=veg_curry" class="dropdown-item">Rice</a>
                <a href="{% url 'all_menu' %}?category=rice" class="dropdown-item">Veg Curry</a>
                <a href="{% url 'all_menu' %}?category=soup,rice,veg_curry" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'all_menu' %}?category=beverages" class="dropdown-item">Beverages</a>
                <a href="{% url 'all_menu' %}?category=new_taste" class="dropdown-item">New Taste !</a>
                <a href="{% url 'all_menu' %}?category=infused_drinks,new_taste" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-right"  href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% include 'includes/side_nav.html' %}
            </a>
        </li>
    </ul>
</div>
