<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="" id="menu-link" aria-haspopup="true" aria-expanded="false">
                All Menus
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="non-veg-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non-veg Meal
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-veg-link">
                <a href="" class="dropdown-item">Chicken</a>
                <a href="" class="dropdown-item">Lamb</a>
                <a href="" class="dropdown-item">Fish</a>
                <a href="" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="veg-meal-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Veg-Meal
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="veg-meal-link">
                <a href="" class="dropdown-item">Soup</a>
                <a href="" class="dropdown-item">Rice</a>
                <a href="" class="dropdown-item">Curry</a>
                <a href="" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Infused Drinks</a>
                <a href="" class="dropdown-item">New Taste !</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>