    <!--search bar on navbar-->
    <li class="list-inline-item search-item">
      <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="nav-item text-dark font-weight-bold mt-4 pt-2 pb-2">
                  <i class="fas fa-search text-dark font-weight-bold mr-3"></i>
                  <span class="">Search</span>
          </div>
      </a>
      <div class="dropdown-menu border-0 w-100 rounded-0 mx-auto" aria-labelledby="mobile-search">
          <form class="form" method="GET" action="{% url 'all_menu' %}">
              <div class="input-group w-100">
                  <input class="form-control border border-black search-field" type="text" name="q1" placeholder="Search">
                  <div class="input-group-append">
                      <button class="form-control form-control btn btn-white search-btn-small border border-black" type="submit">
                          <span class="icon-search">
                              <i class="fas fa-search"></i>
                          </span>
                      </button>
                  </div>
              </div>
          </form>
      </div>
  </li>