{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container blog-container">
    <div class="row blog-row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
               {% for post in posts %}
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
               {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="row review-row">
       
    </div>
</div>
{% endblock %}
