{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container blog-container">
        
        <div class="row">
            <div class="card" >
                {% for post in posts %}
                    {% if post.image %}
                        <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.name }}">
                    {% else %}
                        <img class="card-img-top" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ post.name }}">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <a href="{% url 'post_info' post.id %}" class="btn btn-primary">Read More</a>
                    </div>
                {% endfor %}
              </div>
        </div>

        <div class="row review-row">
        
        </div>
    </div>
{% endblock %}
