{% extends "base.html" %}
{% load static %}

{% block header_main %}
<div class="overlay"></div>
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container pt-4 blog-container-main">
    <h1 class="text-center font-weight-bold pt-4"></h1>
    <hr>
    <div class="row">
        <div class="col text-center">
        {% if request.user.is_superuser %}
            <a class="btn btn-success" href="{% url 'add_post' %}">Add New Post</a>
        {% endif %}    
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
            <div class="col-sm-12 col-lg-6 p-4">
                <div class="card menu-card">
                    <div class="item-image">
                        {% if post.image %}
                            <a href="{% url 'post_info' post.id %}">
                                <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                            </a>
                        {% else %}
                            <a href="{% url 'post_info' post.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ post.title }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                    </div>
                    <div class="card-footer border-0 text-left">
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'post_info' post.id %}" class="btn btn-primary">Read More</a>
                            </div>
                            <div class="col">                                              
                                <!---edit/delete button for admin to edit/delet item from the page-->
                                {% if request.user.is_superuser %}
                                    <small class="badges">
                                        <a href="{% url 'edit_post' post.id %}" class="badge badge-warning">Edit</a> 
                                        <a class="badge badge-danger" href="{% url 'delete_post' post.id %}">Delete</a>
                                    </small>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}