{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container blog-container">
    <div class="row blog-row">
        <div class="col-12">
            <hr>
            {% for post in posts %}
            <h2 class="font-weight-bold">{{ post.title }}</h2>
            <h4 class="text-muted">{{ post.date }}</h4>
            <p>{{ post.feedback }}
            {% endfor %}
            <hr>
        </div>
    </div>
    
    <div class="row review-row">
       
    </div>
</div>
{% endblock %}