{% extends "base.html" %}
{% load static %}

{% block header_main %}
<div class="overlay"></div>
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-4 pt-4">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container item-image-info my-4 ">
                    {% if item.image %}
                        <p class="h4 text-main font-weight-bold d-sm-block d-md-none">{{ item.name }}
                            <!-- <span>
                                {% if item.vegan %}
                                    <img class="vegan-icon-info-sub ml-2 mb-2" src="{{ MEDIA_URL }}vegan.png" alt="vegan-icon">
                                {% endif %}
                             </span> -->
                        </p>
                        <a href="{% url 'item_info' item.id %}" target="_blank">
                            <img class="card-img-top img-fluid img-sub" src="{{ item.image.url }}" alt="{{ item.name }}">
                        </a>
                    {% else %}
                        <p class="h4 text-main font-weight-bold d-sm-block d-md-none">{{ item.name }}
                            <!-- <span>
                                {% if item.vegan %}
                                    <img class="vegan-icon-info-sub ml-2 mb-2" src="{{ MEDIA_URL }}vegan.png" alt="vegan-icon">
                                {% endif %}
                             </span> -->
                        </p>
                        <a href="{% url 'item_info' item.id %}">
                            <img class="card-img-top img-fluid img-sub" src="{{ MEDIA_URL }}image-coming-soon.jpg" alt="{{ item.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item-info mb-4 mt-md-5">
                    <!-- {% if item.vegan %}
                        <p class="h4 font-weight-bold pb-0 d-none d-md-block">{{ item.name }}
                            <span>
                                <img class="vegan-icon-info ml-2 mb-2" src="{{ MEDIA_URL }}vegan.png" alt="dfdfh">
                            </span>
                        </p>
                    {% else %} -->
                        <p class="h4 font-weight-bold pb-0 d-none d-md-block">{{ item.name }}</p>
                    <!-- {% endif %} -->
                    <p class="display-6 pt-3 mt-3"></p>
                    <p class="display-6 mt-3 font-weight-bold">Rs {{ item.price }}</p>
                    <p class="display-6 mb-0 font-weight-bold">{{ item.heading }}</p>
                    <p class="display-6">{{ item.description }}</p>
                    {% if request.user.is_superuser %}
                        {% if item.ingredient %}
                            <p class="display-6 font-italic">Materials: {{ item.materials }}</p>
                        {% endif %}
                    {% endif %}
                    <!-- {% if item.allergen %}
                    <p class="display-6 font-weight-bold">Allergens: {{ item.allergen }}</p>
                    {% endif %} -->
                    {% if item.note1 %}
                        <p class="display-6 text-muted">{{ item.note1 }}</p>
                    {% endif %}
                    {% if item.note2 %}
                        <p class="display-6 text-muted">{{ item.note2 }}</p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <p class="display-6">Added-date: {{ item.date }}</p>
                        <p class="display-6">Item added by: {{ user }}</p>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_basket' item.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-dark font-weight-bold decrease-qty"
                                                data-item_id="{{ item.id }}" id="decrease-qty_{{ item.id }}">-
                                            </button>
                                        </div>

                                        <input class="form-control qty_input border-dark" type="number" name="quantity"
                                            value="1" min="1" max="50" data-item_id="{{ item.id }}"
                                            id="id_qty_{{ item.id }}">

                                        <div class="input-group-append">
                                            <button class="btn btn-dark font-weight-bold increase-qty"
                                                data-item_id="{{ item.id }}" id="increase-qty_{{ item.id }}">+
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'all_menu' %}" class="btn btn-outline-dark mt-5">
                                    <span>
                                        <i class="fas fa-arrow-circle-left btn-order-more"></i>
                                    </span>
                                    <span class="text-uppercase text-main btn-order-more">Order more</span>
                                </a>
                                <input type="submit" class="btn btn-outline-dark text-uppercase mt-5 text-main" value="Add to basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
    <!--review section-->
    <div class="container-fluid review-container mt-2">
        <h3 class="text-uppercase text-center font-weight-bold">Reviews ({{ reviews.count }})</h3>
        {% if request.user.is_authenticated %}
        <div class="text-center">
            <a href="{% url 'add_review' item.id %}" class="btn btn-info mt-3 mb-4">
                Add a Review
            </a>
            {% else %}
            <!---url to redirect user to the same page after login, code taken from stackoverflow -->
            <p class="login-text text-center"><a href="{% url 'account_login' %}?next={{request.path}}">Login </a>to the page to add/edit your review</p>
        {% endif %}
        </div>
        <!--show existing reviews-->
        <div class="container existing-review-container">
            <div class="row">
                {% for rev in reviews %}
                <div class="col-sm-12 col-md-6 col-lg-3 review-col text-center p-2">
                    <h3 class="mb-1">{{ rev.title }}</h3>
                    <h4><small class="text-dark">rating: </small>{{ rev.rating }}/5</h4>
                    <h5>"{{ rev.comment }}"</h5>
                    <p class="text-capitalize">By: {{ rev.reviewer }}, on {{ rev.date|date:"d M, Y" }} </p>
                    {% if user.is_authenticated and user.get_username == rev.reviewer.user.username %}
                    <small class="text-center review-button">
                        <a class="btn btn-warning btn-sm" href="{% url 'edit_review' rev.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'delete_review' rev.id  %}">Delete</a>
                    </small>
                    {% elif request.user.is_superuser and user.is_authenticated  %}
                    <small>
                        <a class="btn btn-danger btn-sm" href="{% url 'delete_review' rev.id  %}">Delete</a>
                    </small>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script>
            let csrfToken = "{{ csrf_token }}"
        </script>
        <script src="{% static 'basket/js/basket.js' %}"></script>

{% endblock %}