{% extends "base.html" %}
{% load static %}

{% block header_main %}
<div class="overlay"></div>
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container about-container text-center pt-3 pb-3 mb-5 mt-3">
        <div class="row">
            <div class="col about-col">
                <h1 class="pt-3 font-weight-bold text-about-heading">Our Begining and Motto</h1>
                <hr class="block-divider">
                <p class="text-main text-about-sub-heading">Inspired by our origins and passions for authentic traditional cuisines,
                    we started and established the beloved Neupane’s Kitchen to introduce and provide homemade food. We
                    collected experiences from 25 different countries to perfecting our tastes and crafting the menus of
                    Neupane’s Kitchen.
                </p>
                <p class="text-main text-about-sub-heading">
                    Our main mission is to carefully prepare and cook healthy meals with various fresh ingredients which
                    are sourced locally. In addition, Neupane’s Kitchen aim to have vast selections for vegetarian and vegan
                    menus which promote <span class="text-success font-weight-bold">“Go Green”</span> and become an environmental-friendly business.
                </p>
                <p class="text-main text-about-sub-heading">
                    “Homemade gourmets for your taste, delivered straight from our kitchen to your home” is the message
                    we would like to convey to our customers as we bring happiness to your dining tables and our
                    delicious gourmets to be enjoyed together with your love ones as well as accompanied your various
                    gatherings, parties and events.
                </p>
                <p class="text-main text-about-sub-heading">
                    We have a 13-solid-year professional experience in food industry and well-equipped with food safety
                    knowledge to be able to prepare our menus which are safe for everyone to consume. Currently, we
                    introduce “24 hours Pre-Order only” scheme, so that we are able to select the best produces
                    available in the market as we aim not to store our ingredients prior to your orders to ensure the
                    freshness of our food.
                </p>
            </div>
        </div>
        <a href="{% url 'blog' %}">
            <div class="btn btn-success btn-lg mt-4">Visit our Blog</div>
        </a>
    </div>
{% endblock %}