{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block header_main %}
    <div class="overlay"></div>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container checkout-container">
    <!---page heading-->
    <div class="row text-center">
        <div class="col">
            <h2 class="mt-4 font-weight-bold">Thank You for your enquiry!</h2>
            <p class="display-6">Your query has been submitted to Neupane Kitchen, One of our team will get in touch with you shortly</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <a href="{% url 'all_menu' %}" class="btn btn-light btn-lg border border-secondary mt-5">
                <span class="icon">
                    <i class="fas fa-arrow-circle-left"></i>
                </span>
                <span class="basket-heading basket-heading-sub text-uppercase ">Back to our menu</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}