{% extends "base.html" %}
{% load static %}

{% block header_main %}
<div class="overlay"></div>
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container contact-container text-center pt-3 pb-3 mb-5 mt-3">
        <div class="row">
            <div class="col">
                <h1 class="">Contact Us</h1>
                <p>
                    Please fill out the form below, we will be in touch as soon as possible.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col form-center pb-5">
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="contact-form">
                        <legend class="h5 text-left">Contact Details</legend>
                        {{ form.full_name | as_crispy_field }}
                        {{ form.email | as_crispy_field }}
                        {{ form.contact_number | as_crispy_field }}
                        <legend class="h5 text-left pt-2">Message</legend>
                        {{ form.message | as_crispy_field }}
                    </fieldset>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}